######################
# Build Unwanted
######################
build/
target/
*.md

######################
# IntelliJ
######################
.idea/
*.iml
*.iws
*.ipr
*.ids

######################
# Mac OSX
######################
.DS_Store
.svn